<% include header.ejs %>
<!-- =============================================== -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= title %>
      <small>Ajout de fournisseur</small>
    </h1>
    <ol class="breadcrumb">
      <li class=""><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class=""><a href="/fournisseurs"><i class="fa fa-dashboard"></i> liste des fournisseurs</a></li>
      <li class="active"> Ajout fournisseur</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Nouveau <%= title %></h3>

      </div>
      <div class="box-body">

        <!--
        - Code
        - Raison sociale
        - Adresse
        - TeÌl
        - Email
      -->

        <form class="form-horizontal" action="/fournisseurs/edit/<%= fournisseurs._id %>" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Code :</label>
                  <div class="col-sm-10">
                    <input type="text" name="code" class="form-control" id="" placeholder="" value="<%= fournisseurs == null ? "":fournisseurs.code %>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Raison Sociale :</label>
                  <div class="col-sm-10">
                    <input type="text" name="raisonsocial" class="form-control" id="" placeholder="" value="<%= fournisseurs == null ? "":fournisseurs.raisonsocial %>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Adresse :</label>
                  <div class="col-sm-10">
                    <textarea type="text" name="address" class="form-control" id="" placeholder="" rows="4" cols="20" value=""><%= fournisseurs == null ? "":fournisseurs.address %></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Telephone :</label>
                  <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" id="" placeholder="" value="<%= fournisseurs == null ? "":fournisseurs.phone %>">
                  </div>
                </div>




                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Email :</label>
                  <div class="col-sm-10">
                    <input type="text" name="email" class="form-control" id="" placeholder="" value="<%= fournisseurs == null ? "":fournisseurs.email %>">
                  </div>
                </div>





                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->



        <!-- Start creating your amazing application! -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
          <button type="submit" class="btn btn-sm btn-primary pull-right mymg"><i class="fa fa-fw fa-save"></i></button>
          <!-- <a href="#" class="btn btn-sm btn-primary pull-right mymg"><i class="fa fa-fw fa-save"></i></a> -->
          <a href="/fournisseurs" class="btn btn-sm btn-primary pull-right mymg">Liste des <%= title %></a>
      </div>
      <!-- /.box-footer-->
      </form>
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<% include footer.ejs %>
